*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px black solid;
}
body{
  background: linear-gradient(to right,#06b6d4, #67e8f9);
  font-family: Roborto, sans-serif;
}
/* main container */
#libraryContainer{
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  position: relative;
}
 /* Form */
#form{
  position: absolute;
  width: 20vw;
  left: 40vw;
  bottom: 40vh;
  display: grid;
  grid-template-columns: 5vw 15vw;
  background-color: #075985;
  color: white;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6)
}
#form input, #form label{
  margin-top: 2vh;
  padding: .5vh;
}
#form input{
  margin-right: 1vw;
}
#form label{
  margin-left: 1vw;
}
.buttonContainer{
  display: flex;
  width: 20vw;
  margin-top: 2vh;
}
.buttonContainer button{
  flex: 1;
  padding: 1vh 0;
  border: 1px #075985 solid;
}
#submitButton, .buttonContainer{
  border-bottom-left-radius: 1vh;
}
#clearButton, .buttonContainer{
  border-bottom-right-radius: 1vh;
}

/* Book Container */
.bookContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 1vh 1vw;
  padding: 2vh 0;
}
.bookContainer p{
  margin-top: 1vh;
}
/* header */
.header{
  display: flex;
  justify-content: space-around;
  padding: 2vh 0;
  background-color: #075985;
  position: sticky;
}
#newBookButton{
  padding: 1vh 1vw;
  border-radius: 1vh;
  border: none;
  background-color: #06b6d4;
  color: white;
  position: relative;
}
.logo{
  color: white;
  font-weight: 700;
  font-size: 2rem;
}