*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
/*  border: 1px black solid;*/
}
body{
  background: linear-gradient(to right,#06b6d4, #67e8f9);
  font-family: Roborto, sans-serif;
}
/* header */
.header{
  display: flex;
  justify-content: space-around;
  padding: 2vh 0;
  background-color: #075985;
  position: sticky;
}
#new-book-button{
  padding: 1vh 1vw;
  border-radius: 1vh;
  border: none;
  background-color: #06b6d4;
  color: white;
  position: relative;
}
.logo{
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
/* main container */
#library-container{
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  position: relative;
}
 /* Form */
#form{
  position: absolute;
  width: 20vw;
  min-width: 220px;
  left: 40vw;
  bottom: 40vh;
  background-color: #075985;
  color: white;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.input-container, .button-container, .checkbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-container{
  display: flex;
  justify-content: flex-end;
  padding-top: .5vh;
  padding-right: .5vw;
}
.exit-container button{
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background-color: #075985;
  color: white;
  align-items: center;
  font-weight: 700;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
.input-container label, .button-container button{
  flex: 1;
}
.input-container input{
  flex: 3;
  padding: .5vh 0;
}
.input-container, .checkbox-container{
  padding: 0 1vw;
  padding-top: 1vh;
}
.checkbox-container input{
  height: 3vh;
  width: 3vw;
}
.button-container{
  padding-top: 1vh;
}
.button-container button{
  padding: 1vh 1vw;
  background-color: white;
  font-weight: 700;
  border: 1px #075985 solid;
}
#submit-button, .button-container{
  border-bottom-left-radius: 1vh;
}
#reset-button, .button-container{
  border-bottom-right-radius: 1vh;
}
/* Book Container */
.book-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 1vh 1vw;
  padding: 2vh 0;
}
.book-container p, .remove-button{
  margin-top: 1vh;
}
.remove-button{
  color: white;
  background-color: #075985;
  border: none;
  padding: .5vh 1vw;
  border-radius: 1vh;
}
